.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  .form-container {
    background-color: #f0f0f0;
    padding: 50px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
    width: 90%; /* Aumenta el ancho del contenedor */
    max-width: 500px; /* Establece un ancho máximo */
    margin: auto; /* Centra horizontalmente */
  }
  
  /* Estilos para errores y éxito */
  .error {
    color: red;
  }
  
  .success {
    color: green;
  }
  
  .form-container h1, .form-container h2 {
    margin-bottom: 30px; /* Reduzco el espacio entre los títulos y el formulario */
  }
  
  .form-container h2 {
    margin-bottom: 180px; /* Agrega espacio entre el subtitulo 2 y los campos a rellenar */
  }
  
  .form-container label {
    display: block; /* Coloca los labels en bloques para alinearlos correctamente */
    text-align: left; /* Alinea el texto a la izquierda */
    margin-bottom: 10px; /* Agrega espacio entre los labels y los inputs */
  }
  
  .form-container input {
    width: 100%; /* Los inputs ocuparán todo el ancho disponible */
    padding: 8px; /* Espaciado interno */
    margin-bottom: 10px; /* Agrega espacio entre los inputs */
  }
  
  /* Estilo para el botón de enviar */
  .form-container button {
    background-color: black;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10%;
    margin-bottom: 40%;
  }
  
  /* Estilo para el botón de enviar al pasar el cursor */
  .form-container button:hover {
    background-color: #333; /* Cambia el color al pasar el cursor */
  }