.detail-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ffffff; 
  }
  
  .detail-box {
    background-color: #696666; 
    width: 50%; 
    padding: 25px;
    border-radius: 8px;
    text-align: center;
    color: #ffffff; 
  }
  
  .detail-title {
    font-size: 30px;
    margin-bottom: 20px;
  }
  
  .detail-info {
    text-align: left;
    font-size: 20px;
  }