
/* Navbar.css */

nav {
  background-color: #333; /* Color de fondo del navbar */
  color: #fff; /* Color del texto */
  padding: 10px; /* Espaciado interno */
  width: 100%; /* Extender el navbar al 100% del ancho de la pantalla */
  display: flex;
  justify-content: center; /* Centrar elementos horizontalmente */
}

ul {
  list-style: none; /* Elimina los marcadores de lista */
  padding: 0;
  display: flex;
  justify-content: space-between; /* Espaciar elementos entre sí */
  max-width: 600px; /* Establecer un ancho máximo para el contenido */
  width: 100%; /* Extender la lista al 100% del ancho del contenedor */
}

li {
  margin-right: 20px; /* Espacio entre elementos de lista */
}

a {
  text-decoration: none; /* Elimina subrayados de enlaces */
  color: #fff; /* Color del texto de los enlaces */
}

a:hover {
  text-decoration: underline; /* Subraya enlaces al pasar el mouse */
}

.light-theme {
  background-color: #ffffff;
  color: #000000;
}

/* Clases para el tema oscuro */
.dark-theme {
  background-color: #000000;
  color: #ffffff;
}