nav {
  background-color: #333;
  color: #fff;
  padding: 18px;
  width: 100%;
  display: flex;
  justify-content: space-between; /* Cambio a justify-content: space-between */
  align-items: center; /* Para centrar verticalmente el botón */

}

ul {
  list-style: none;
  padding: 10;
  display: flex;
  max-width: 600px;
  width: 100%;
}

li {
  margin-right: 20px;
}

a {
  text-decoration: none;
  color: #fff;
}

a:hover {
  text-decoration: underline;
}

.light-theme {
  background-color: #ffffff;
  color: #000000;
}

.dark-theme {
  background-color: #000000;
  color: #ffffff;
}

/* Estilos para el botón de cambio de tema */
button {
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
  padding: 0;
  margin: 0;
  margin-right: 20px; /* Espacio a la derecha para separar del último enlace */
}

button:hover {
  color: #ffcc00;
}